<ion-content >
    <ion-card class="p__container"> 
        <ion-card-header>
            <ion-card-title>Privacy</ion-card-title>
            <ion-card-subtitle>Info</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-list-header>
                    <ion-card-title>Main points</ion-card-title>
                </ion-list-header>
                <ion-item>
                    <ion-text>We do our best to keep your data as privacy as posible.</ion-text>
                </ion-item>
                <ion-item>
                    <ion-text>We do not use your data to any financial purpose.</ion-text>
                </ion-item>
                <ion-item>
                    <ion-text>This is an open-source project and every line to code can be seen on <a class="git_link" href="https://github.com/SerbanTudor04/PartyMusicRequest.io" target="_blank">Github</a>.</ion-text>
                </ion-item>
                <ion-item>
                    <ion-text>In our project development we are doing our best to use the lastest and most secured packages and external libraries.</ion-text>
                </ion-item>
            </ion-list>
            <ion-button href="/auth" expand="block" fill="outline">Back</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>