
<div class="singin__container">
    <div class="singin__title">
        <ion-title  class="main">Authenticate</ion-title >
        <ion-title  class="sub_main">Welcome to Party Music Request</ion-title >
        <!-- <h4 class="secondary">Sing in with:</h4> -->
    </div>
    <div class="singin__locations">
        <ion-button style="width: 100%;" shape="round" color="primary" class="access__button" mat-raised-button class="singin__google" (click)="auth.GoogleAuth()">Google+</ion-button>
    </div>
</div>