.btn-width-100{
    width: 100% !important;
}
.btn-margin-top{
    position: relative;
    margin-top: 0.3rem;
}
.form-submit-class{
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    width: 100%;

}