@import "../shared/classes.style.scss";

.main__screen__container{
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    .main__screen__card{
        width: 90%;
        border: none;
    }
    .main__screen__buttons{
        display: flex;
        width: 100%;
    }
}

.party__code__input{
    width: 100%;
}
