

<ion-menu class="noselect" type="push"  side="start" menuId="first" contentId="main">
   <ion-header>
     <ion-toolbar style="display: flex;" color="default">
      <!-- <ion-item-divider></ion-item-divider> -->
      <ion-buttons>
         <ion-title>{{configS.application_name}}</ion-title>
         <ion-button href="/settings" shape="round"><mat-icon>settings</mat-icon></ion-button>
      </ion-buttons>
     </ion-toolbar>
   </ion-header>
   <ion-content >
      <ion-list>
         <ion-item href="/">Home</ion-item>
         <ion-item href="/join">Partys</ion-item>
         <ion-item href="/about">About us</ion-item>
         <ion-item href="/contact">Contact us</ion-item>
      </ion-list>
   </ion-content>
   <ion-footer>
      <ion-toolbar color="default">

         <ion-button color="danger" (click)="authS.logout()" fill="clear" shape="round"><mat-icon>logout</mat-icon></ion-button>
         <ion-buttons slot="primary">


            <!-- <ion-button target="blank" href="https://github.com/SerbanTudor04/PartyMusicRequest.io">
              Github <img width="32" height="32 " src="../../assets/github.png" alt="">
            </ion-button> -->
            <ion-button disabled="true">
               Version {{configS.current_version}}
            </ion-button>
          </ion-buttons>
       </ion-toolbar>
   </ion-footer>
 </ion-menu>

<div class="noselect mainapp__container">
      <ion-router-outlet  id="main" ></ion-router-outlet>   
</div>
