@import "../shared/classes.style.scss";

.mainapp__container{
    height: 100%;
    overflow-y: auto;
    padding-bottom: 10rem;
}
.open__side__menu{
    position: absolute;
    top: 10%;
    left: 10%;
}