
<div *ngIf="loadingS.isLoading==true" class="">
   <ion-progress-bar mode="iod" type="indeterminate"></ion-progress-bar>
</div>

<div class="mainapp__container">

   <!-- <ion-content>

   </ion-content>
    -->
   <ion-router-outlet></ion-router-outlet>
</div>

<ion-footer collapse="fade">
   <ion-toolbar class="display_flex">
      <ion-buttons slot="primary">
         <ion-button target="blank" href="https://github.com/SerbanTudor04/PartyMusicRequest.io">
           Github <img width="32" height="32 " src="../../assets/github.png" alt="">
         </ion-button>
       </ion-buttons>
   </ion-toolbar>
 </ion-footer>