<div class="main__screen__container">
    <mat-card class="main__screen__card">
        <div *ngIf="!join_party && !create_party ">
            <mat-card-content>
                <div class="main__screen__buttons">
                    <section>
                        <button (click)="join_party=!join_party" class="btn-width-100" color="primary" mat-raised-button>Join Party <mat-icon>celebration</mat-icon></button>
                    </section>
                    <section>
                        <button (click)="create_party=!create_party" class="btn-width-100 btn-margin-top" color="primary" mat-raised-button>Create Party <mat-icon>cake</mat-icon></button>    
                    </section>
                </div>
            </mat-card-content>
        </div>

        <div *ngIf="join_party && !create_party" class="main__screen__join_party">
            <mat-card-title>Join Party</mat-card-title>
            <mat-card-subtitle>Enter the party code</mat-card-subtitle>
            <div class="party__form">
                <mat-card-content>
                    <div class="party__code__input">
                        <div class="form-submit-class">
                            <mat-form-field  appearance="legacy">
                                <mat-label>Party code</mat-label>
                                <input [(ngModel)]="party_code" required matInput maxlength="10" placeholder="Ex. 1234567">
                            </mat-form-field>

                        </div>

                    </div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button color="primary" (click)="joinParty()" mat-raised-button>Join <mat-icon>login</mat-icon></button>
                    <button mat-raised-button color="warn" (click)="join_party=false">Back <mat-icon>arrow_back</mat-icon></button>
                </mat-card-actions>
            </div>
        </div>
            <div *ngIf="!join_party && create_party" class="main__screen__create_party">
                <mat-card-title>Create Party</mat-card-title>
                <mat-card-subtitle>Enter the party informations</mat-card-subtitle>
                <div class="party__form">
                    <mat-card-content>
                        <div class="party__code__input">
                            <div class="form-submit-class">
                                <mat-form-field  color="primary"  appearance="legacy">
                                    <mat-label>Name</mat-label>
                                    <input [(ngModel)]="create_party_data.name" required matInput maxlength="32" placeholder="Ex. My Birthday" >
                                </mat-form-field>
                                <mat-form-field  color="primary" appearance="legacy">

                                    <mat-label>End Date</mat-label>
                                    <input  [(ngModel)]="create_party_data.end_date" matInput required  [matDatepicker]="picker" >
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <!-- <input [(ngModel)]="create_party_data.end_date" required matInput maxlength="10" placeholder="Ex. 1234567"> -->
                                </mat-form-field>
                                <mat-form-field  color="primary"  appearance="legacy">
                                    <mat-label>Description</mat-label>
                                    <textarea [(ngModel)]="create_party_data.description" matInput  placeholder="Ex. everybody is welcome"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button color="primary" mat-raised-button (click)="createParty()">Create <mat-icon>add</mat-icon></button>
                        <button mat-raised-button color="warn" (click)="create_party=false">Back <mat-icon>arrow_back</mat-icon></button>
                    </mat-card-actions>
                </div>
            </div>
            <mat-card-footer *ngIf="loading_bar">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
    </mat-card>
</div>