<ion-content>
    <div class="pv__container">
        <ion-card class="pv__noAccess">
            <ion-card-header>
                <ion-title>Something looks like you came here from a mistake.</ion-title>
            </ion-card-header>
            <ion-card-content>
                <ion-buttons>
                    <ion-button href="/" color="primary">
                        Go back home <mat-icon>home</mat-icon>
                    </ion-button>
                    <ion-button href="/join" color="secondary">
                        Go to join party  <mat-icon>people</mat-icon>
                    </ion-button>
                </ion-buttons>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>