<ion-content>
    <app-open-side-nav></app-open-side-nav>


    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-down-circle-sharp" pullingText="Pull to refresh"
            refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <div class="pv__container">
        <div *ngIf="hasAccess" class="pv__hasAccess">
            <div class="pv__header pv__blocks">
                <ion-card class="mat-elevation-z0 no_bg">



                    <ion-card-title style="text-align: center;">{{party_data.data.name}}</ion-card-title>
                    <ion-card-content>
                        <div class="pv__header__description">
                            <h2>{{party_data.data.description}}</h2>
                        </div>
                        <div class="pv__header__partyInfo">
                            <p>Party created by {{party_data.data.created_by_displayName ?? "User"}} on
                                {{party_data.data.created_on | date}}, which is ending on {{party_data.data.end_date |
                                date
                                }}.</p>
                        </div>
                    </ion-card-content>
                </ion-card>

            </div>
            <div class="pv__body pv__blocks">
                <ion-card>
                    <ion-card-title>
                        <div class="pv__top__menu">
                            <!-- add song buttons -->
                            <div class="pv__top__menu__btns">
                                <!-- add a song -->
                                <ion-buttons>
                                    <ion-button class="btn-margin-left" shape="round" *ngIf="!add_song"
                                        (click)="add_song=true;edit_poarty=false" color="primary">
                                        <mat-icon>add</mat-icon>
                                    </ion-button>
                                    <ion-button shape="round" *ngIf="add_song" (click)="add_song=false" color="danger">
                                        <mat-icon>close</mat-icon>
                                    </ion-button>


                                    <ion-button shape="round" *ngIf="!edit_poarty && is_owner"
                                        (click)="edit_poarty=true;add_song=false" color="default">
                                        <mat-icon>edit</mat-icon>
                                    </ion-button>
                                    <ion-button shape="round" *ngIf="edit_poarty  && is_owner"
                                        (click)="edit_poarty=false" color="danger">
                                        <mat-icon>close</mat-icon>
                                    </ion-button>


                                    <!-- get join code -->
                                    <ion-button shape="round" class="btn-margin-left" color="default"
                                        id="open-share-menu">
                                        <mat-icon>qr_code_scanner</mat-icon>
                                    </ion-button>
                                    <ion-popover trigger="open-share-menu">
                                        <ng-template>
                                            <ion-list>
                                                <ion-title>Copy to</ion-title>
                                                <ion-button shape="" expand="block" class="" color="default"
                                                (click)="notifS.sendSuccess('Join code has been copied in clipboard!');"
                                                [cdkCopyToClipboard]="party_data.data.join_code">
                                                Clipboard

                                            </ion-button>

                                            <ion-button style="width: 100%;" shape="" expand="block" class=""
                                                color="default"
                                                (click)="notifS.sendSuccess('Share Link has been copied in clipboard!');"
                                                [cdkCopyToClipboard]="get_share_link(party_data.data.join_code)">
                                                Share Link

                                            </ion-button>
                                            </ion-list>
                                        </ng-template>
                                    </ion-popover>
                                </ion-buttons>

                            </div>
                            <div *ngIf="add_song" class="pv__add_song pv__blocks">
                                <ion-card class="mat-elevation-z0">

                                    <ion-card-content>
                                        <div class="form-submit-class">
                                            <ion-item>
                                                <ion-label position="floating">Name</ion-label>
                                                <ion-input [(ngModel)]="song_add_data.song_name" required matInput
                                                    maxlength="64" placeholder="Ex. Are you with me?"></ion-input>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label position="floating">Author</ion-label>
                                                <ion-input [(ngModel)]="song_add_data.song_author" required matInput
                                                    maxlength="64" placeholder="Ex. Lost Frequencies"></ion-input>
                                            </ion-item>
                                        </div>
                                        <ion-button shape="round" matTooltip="Send data" (click)="addSong()"
                                            color="primary" class="btn-width-100">Add <mat-icon>library_music</mat-icon>
                                        </ion-button>

                                    </ion-card-content>

                                </ion-card>
                            </div>
                            <div style="overflow: hidden;" *ngIf="edit_poarty && is_owner"
                                class="pv__add_song pv__blocks">
                                <ion-card class="mat-elevation-z0">
                                    <ion-card-content>
                                        <div class="form-submit-class">
                                            <ion-item>
                                                <ion-label position="floating">Name</ion-label>
                                                <ion-input [(ngModel)]="party_data.data.name" required matInput
                                                    maxlength="64" placeholder="Ex. Awesome party"></ion-input>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label position="floating">Description</ion-label>
                                                <ion-input [(ngModel)]="party_data.data.description" required matInput
                                                    maxlength="64" placeholder="Ex. Here, there and gone"></ion-input>
                                            </ion-item>
                                            <ion-item>
                                                <ion-label>Status <span *ngIf="party_data.data.open"
                                                        style="color: greenyellow;">Open</span><span
                                                        *ngIf="!party_data.data.open" style="color: red;">Closed</span>
                                                </ion-label>

                                                <ion-toggle [(ngModel)]="party_data.data.open"></ion-toggle>
                                            </ion-item>
                                        </div>
                                        <ion-button shape="round" matTooltip="Send data" (click)="updatePartyInfo()"
                                            [disabled]="!can_update_info" color="primary" class="btn-width-100">Save
                                            <mat-icon>save</mat-icon>
                                        </ion-button>

                                    </ion-card-content>

                                </ion-card>
                            </div>
                        </div>
                    </ion-card-title>
                    <ion-card-content class="songs__table__list">

                        <ion-item>
                            <ion-label position="floating">Search</ion-label>
                            <ion-input #input (keyup)="applyFilter($event)" maxlength="64"
                                placeholder="Ex. Are you with me?"></ion-input>
                        </ion-item>


                        <table matSort [bgColor]="'dark'" mat-table [dataSource]="dataSource" class="mat-elevation-z0"
                            multiTemplateDataRows>

                            <ng-container matColumnDef="song_name">
                                <th mat-sort-header mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.song_name }} </td>
                            </ng-container>

                            <ng-container matColumnDef="song_author">
                                <th mat-sort-header mat-header-cell *matHeaderCellDef> Author </th>
                                <td mat-cell *matCellDef="let element"> {{element.song_author }} </td>
                            </ng-container>

                            <ng-container matColumnDef="added_by_displayName">
                                <th mat-sort-header mat-header-cell *matHeaderCellDef> Added by </th>
                                <td mat-cell *matCellDef="let element"> {{element.added_by_displayName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="added_on">
                                <th mat-sort-header mat-header-cell *matHeaderCellDef> Added on </th>
                                <td mat-cell *matCellDef="let element"> {{element.added_on | date}} </td>
                            </ng-container>

                            <ng-container matColumnDef="played">
                                <th mat-sort-header mat-header-cell *matHeaderCellDef> Played</th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.played" style="color: green;">Played</span>
                                    <span *ngIf="!element.played" style="color: red;">Not Played</span>
                                </td>
                            </ng-container>


                            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                            <ng-container matColumnDef="expandedDetail">
                                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                                    <div class="element-detail"
                                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                        <div class="element-inputs" *ngIf="is_owner">
                                            <ion-button (click)="markASongAsPlayed(element)" expand="block">Mark as
                                                played</ion-button>
                                        </div>

                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <div>
                                <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                                    class="example-element-row"
                                    [class.example-expanded-row]="expandedElement === element"
                                    (click)="expandedElement = expandedElement === element ? null : element">
                                </tr>
                            </div>

                            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
                        </table>


                        <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>

                        <div style="display: flex; flex: 1 auto 1;width: 100%;padding-top: 0.5rem;"
                            *ngIf="songs_edited.length && is_owner">
                            <ion-button expand="full" color="primary" (click)="saveSongsPlayed()">
                                Save <mat-icon>save</mat-icon>
                            </ion-button>
                            <ion-button (click)="songs_edited=[];" expand="full" color="danger">
                                Cancel <mat-icon>cancel</mat-icon>
                            </ion-button>
                            <ion-text class="current__edited__songs" color="default">
                                <h1>
                                    {{songs_edited.length}}
                                </h1>
                            </ion-text>

                        </div>


                    </ion-card-content>
                </ion-card>
            </div>

        </div>
        <span class="blank_zone"></span>
        <div *ngIf="!hasAccess" class="pv__noAccess">
            <ion-card>
                <ion-card-header>
                    <ion-card-title style="color:red">You are not a member of this party or is closed! </ion-card-title>
                    <ion-card-subtitle>Access forbidden</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <a href="/" color="primary" style="width:100%" mat-raised-button>Go home</a>
                </ion-card-content>
            </ion-card>
        </div>
    </div>

</ion-content>