
<div class="pv__container">
    <div *ngIf="hasAccess" class="pv__hasAccess">
        <div class="pv__header pv__blocks">
            <mat-card>
                <mat-card-title>{{party_data.data.name}}</mat-card-title>
                <mat-card-subtitle>{{party_data.data.description}}</mat-card-subtitle>
                <mat-card-subtitle>Party created by {{party_data.data.created_by_displayName ?? "User"}} on {{party_data.data.created_on | date}}, which is ending on {{party_data.data.end_date | date }}.</mat-card-subtitle>  
            </mat-card>
    
        </div>
        <div class="pv__body pv__blocks">
            <mat-card>
                <mat-card-title>
                    <div class="pv__top__menu">
                        <button *ngIf="!add_song" (click)="add_song=true" mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
                        <button *ngIf="add_song" (click)="add_song=false" mat-mini-fab color="warn"><mat-icon>close</mat-icon></button>              
                        <div *ngIf="add_song"  class="pv__add_song pv__blocks">
                            <mat-card class="mat-elevation-z0">                 
                                <mat-card-content>
                                    <div class="form-submit-class">
                                        <mat-form-field  color="primary"  appearance="legacy">
                                            <mat-label>Name</mat-label>
                                            <input [(ngModel)]="song_add_data.song_name"  required matInput maxlength="64" placeholder="Ex. Are you with me?" >
                                        </mat-form-field>
                                        <mat-form-field  color="primary"  appearance="legacy">
                                            <mat-label>Author</mat-label>
                                            <input  [(ngModel)]="song_add_data.song_author"   required matInput maxlength="64" placeholder="Ex. Lost Frequencies" >
                                        </mat-form-field>
                                    </div>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button (click)="addSong()" color="primary" class="btn-width-100" mat-raised-button>Add <mat-icon >library_music</mat-icon></button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </mat-card-title>
                <mat-card-content>


                </mat-card-content>
            </mat-card>
        </div>
        <div class="pv__footer pv__blocks">
            <mat-card>
                <mat-card-title></mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
                <mat-card-content></mat-card-content>
            </mat-card>
        </div>
    </div>
    <div *ngIf="!hasAccess"  class="pv__noAccess">
        <mat-card>
            <mat-card-title style="color:red">You are not a member of this party yet</mat-card-title>
            <mat-card-subtitle>Access forbidden</mat-card-subtitle>
            <mat-card-actions>
                <a href="/" color="primary" style="width:100%" mat-raised-button>Go home</a>
            </mat-card-actions>
        </mat-card>
    </div>

</div>
