@use '@angular/material' as mat;

@include mat.core();

$app-primary:mat.$indigo-palette;
$app-accent:mat.$pink-palette;
$app-warn:mat.$red-palette;

$pmr-primary: mat.define-palette($app-primary);
$pmr-accent: mat.define-palette($app-accent, A200, A100, A400);
$pmr-warn: mat.define-palette($app-warn);

$pmr-theme: mat.define-light-theme((
  color: (
    primary: $pmr-primary,
    accent: $pmr-accent,
    warn: $pmr-warn,
  )
));


@include mat.all-component-themes($pmr-theme);